User <b><%= @user.profile.username %>[<%= @user.id %>]</b> reported abuse for comment <b>[<%= @comment.id %>]</b> with content <b><%= @comment.content %></b> from user <b><%= @comment.creator.profile.username %>[<%= @comment.creator.id %>]</b>.
<br><br>
Click <a href=<%= "http://www.postiles.com/board/" + @comment.post.board.id.to_s + "#" + @comment.post.id.to_s %> >here</a> to go to the post.
