User <b><%= @user.profile.username %>[<%= @user.id %>]</b> reported abuse for post <b>[<%= @post.id %>]</b> with title <b><%= @post.title or 'empty' %></b> and content <b><%= @post.content %></b> from user <b><%= @post.creator.profile.username %>[<%= @post.creator.id %>]</b>.
<br><br>
Click <a href=<%= "http://www.postiles.com/board/" + @post.board.id.to_s + "#" + @post.id.to_s %> >here</a> to go to the post.
